@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.clear{
    clear: both;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.w50{
    width: 50%;
}
body{
    height: 100%;
    overflow-x: hidden;
}
:-webkit-body{
    height: 100%;
    overflow-x: hidden;
}

/* Seção Nav-Bar */


.nav-bar{
    margin: 0 auto;
    background-color: #11043a;
    width: 100%;
    z-index: 2;
}

.nav{
    display: flex;
    flex-direction: row;
}
.social-icons {
    z-index: 3;
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
    margin: 0em 2em;
}
.social-icons a{

    color: white;
    text-decoration: none;
    margin: 0.25em;
    font-size: 3vh;
    border-radius: 50%;
}
nav>div.menu-desktop{
    color: white;
    background-color: black;
    flex-grow: 1;
}
.menu-desktop ul li{
    display: inline-block;
    margin: 1em 0.6em;
}
.menu-desktop > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 2vh;
}
ul > li > a:hover{
    border-bottom: 1px solid rgb(58, 16, 155);
    transition: 2s;
}
.menu-mobile {
    position: absolute;
    display: none;
    background-color: #11043a;
    width: 100%;
    text-align: center;
    z-index: 3;
    padding: 5px;
}
.menu-mobile > #btn-menu {
    display: flex;
    justify-content: flex-end;
}
.menu-mobile > #btn-menu > i{
    color: white;
    cursor: pointer;
    font-size: 5vh;
    z-index: 4;
}
.menu-mobile > ul > li{
    list-style-type: none;
}
.menu-mobile > ul > li > a{
    text-decoration: none;
    margin: 2em auto;
    width: 100%;
    font-size: 20px;
    color: white;
}


/* Background header  */

#home{
    width: 100%;
    min-height: 750px;
    text-align: center;
    background: rgb(2,0,36);
    background-image: linear-gradient(to left bottom, #000000, #140008, #1e0014, #22001f, #22002d, #23003b, #1f014a, #11035b, #14036d, #170280, #1b0194, #1e00a8);
}
.about{
    color: white;
    position: relative;
    top: 15em;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.welcome h2{
    width: 100%;
    display: inline-block;
    font-weight: normal;
    font-size: 3em;
    /*  */
}
.welcome h2::after{
    content: '|';
    animation: pisca .9s infinite;
    opacity: 1;
}
@keyframes pisca {

    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    
}

.assunto h2{
    font-size: 2em;
    font-weight: lighter;
}
.assunto img{
    width: 15em;
}

  /* Sobre */


#sobre{
    /* position: static; */
    display: inline-block;
    background-color: black;
    width: 100%;
}
.img-perfil {
    /* position: relative; */
    z-index: 3;
}
.img-perfil img{
    position: sticky;
    z-index: 1;
    border-radius:50%;
    width: 10em;
    /* top: 50%; */
    left: 50%; 
    transform: translate(-50%,-50%);    
    box-shadow: 1px 1px rgb(56, 16, 167);
}
.img-perfil img:hover{
    transition: 1s;
    box-shadow: 3px 3px rgb(58, 16, 155);
}
.info{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.info {
    text-align: center;
}
.info h2{
    color: white;
}
.info p{
    z-index: 3;
    position: relative;
    color: white;
    
}

.line-vertical{
    border-right: 1px solid rgb(58, 16, 155);
    margin: 0 2%;
}


.titulo-galeria{
    border-top: 1px solid rgb(58, 16, 155);
    width: 12em;
    margin: 1vh auto;
    display: flex;
    justify-content: center;
}
.titulo-galeria:hover{
    width: 100%;
    transition: 1s;    
}
.titulo-galeria h2{
    color: white;
    text-align: center;
    margin:2em 0;
    font-family:'Awesome';
}

.galeria-single{
    /* justify-content: center; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    flex-wrap: nowrap;
}
.galeria-single .card{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 1em;
    margin: 1em;
    box-shadow: rgba(224, 224, 224, 0.25) 4px 10px 55px, rgba(219, 219, 219, 0.12) 0px -12px 30px, rgba(160, 160, 160, 0.12) 0px 4px 6px, rgba(190, 190, 190, 0.17) 0px 12px 13px, rgba(230, 230, 230, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3px;
}
.card h2{
    border-bottom: 1px solid #ccc;
    margin: 0 0 2em 0;
    text-align: center;
}
.galeria-single .card .btn-more{
    background-image: linear-gradient(to right top, #030304, #131634, #202060, #38268d, #5d25b9);    color: white;
    display: inline-block;
    width: 100%;
    border-radius: 2em;
    padding: 6px;
}

.galeria-single .card .btn-more:hover{
    background-image: linear-gradient(to left bottom, #030304, #131634, #202060, #38268d, #5d25b9);    
    color: white;
}
.galeria-single .card a{
    text-decoration: none;
    
}
.tecnologias{
    color: white;
    text-align: center;
    margin: 5em auto;
}
.tecnologias h2{
    font-family:'Awesome';
}
.skills{
    display: flex;
    /* max-width: 1280px; */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9em;
}
.skills img{
    width: 7em;
    margin: 0 2em;
}
.skills #jquery{
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 3px #ccc;
}

/* Projetos  */



section#projetos{
    background-color: white;
}
section#projetos h2{
    margin: 5em auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.projeto-flex{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projeto-single{
    width: 30%;
    border: 1px solid #ccc;
    margin: 3em 1em;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   transition: transform .5s ease;
}

 

section#projetos .projeto-single h2{
    margin: 1em auto;
    text-align: center;
}
.projeto-single img{
    width: 100%;
}
.projeto-single:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.projeto-single a{
    text-decoration: none;
    color: white;
}
.button-projeto{
    cursor: pointer;
    background-image: linear-gradient(to right top, #030304, #131634, #202060, #38268d, #5d25b9);    color: white;
    display: inline-block;
    width: 80%;
    border-radius: 2em;
    padding: 6px;
    margin: 1em;
}



/* Contato */

section#contato{
    background-color: black;
    margin: 0 auto;
    border-top: 1em solid rgb(58, 16, 155);
}

.box-form{
    width: 100%;
}
.box-form h1{
    color: white;
    text-align: center;
    margin: 1em;
    align-items: center;
}
.box-form .formulario{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}
.formulario label{
    color: white;
    
}
.formulario input{
    width: 100%;
    padding: 5px;
    border-radius:10px;
    margin: 0.5em 0;
}
.formulario input:focus{outline: none;}
textarea{
    resize: none;
    height: 10em;
    border-radius: 10px;
    padding: 5px;
}
textarea:focus{outline: 0;}

.formulario button{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to right top, #030304, #131634, #202060, #38268d, #5d25b9);    color: white;
    margin: 2em 0;
}



/* Footer */

section.footer{
    position: absolute;
    color: white;
    width: 100%;
    /* text-align: center; */
    background-color: rgb(58, 16, 155);
    margin: 0 auto;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2em 0;
}

.footer-content > .menu > ul > li{
    list-style-type: none;
    margin: 2em 0;
}
.footer-content > .menu > ul > li> a{
    text-decoration: none;
    color: white;
}

.footer-content > .redes-sociais{
    display: flex;
    flex-direction: column;
}
.footer-content > .redes-sociais >a{
    color: white;
    text-decoration: none;
    margin: 1em 0;
}
.footer-content > .redes-sociais >h2{
    margin: 0 0 15px 0;
}
.footer-content > .contatos{
    display: flex;
}
.footer-content > .contatos >.contato1 h2,.contato2>h2{
    margin-right: 2em;
    font-size: 20px;
}

.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #250055;
    padding: 1em;
    width: 100%;
}

@media screen and (max-width:480px){
    
    .assunto h2{
        margin: 0 0 5em 0;
    }
    
    .footer-content > .contatos{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}


@media screen and (max-width:768px){
    .assunto img{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .menu-mobile>ul{
        display: none;
    }
    .social-icons {
        z-index: 4;        
    }
    .menu-desktop{
        display: none;
    }
    .w50{
        width: 100%;
    }
    .galeria-single{
        /* justify-content: center; */
        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .skills{
        display: flex;
        width: 100%;
        transition: 2s;
        flex-direction: row-reverse;
        padding: 2%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top: 9.9em;
      
    }
    .projeto-flex{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .projeto-single{
        width: 100%;
        border: 1px solid #ccc;
        margin: 3em 1em;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .footer-content{
        display: block;
        text-align: center;
        width: 100%;
        margin: 2em auto;
    }
    .footer-content > .contatos{
        display: flex;
        justify-content: center;
        margin: 2em 0;
    }   
    .about{
        color: white;
        position: relative;
        top: 5em;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .welcome h2{
        width: 100%;
        display: inline-block;
        font-weight: normal;
        font-size: 3em;
        margin: 2em 0;
        
        /*  */
    } 
    .assunto h2{
        font-size: 2em;
        font-weight: lighter;
    }
}
